* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.appWrapper {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  margin: 0 auto 5px;
  height: calc(100% - 210px);
  align-items: center;
  justify-content: center;
  color: #333;
}
.footer{
  height: 80px;
  border-radius: 5px 5px 0 0;
  background-color: #222;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}
.contacts{
  display: flex;
}
.contacts a{
  margin: 0 5px;
  color: white;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  margin-top: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #333;
}
@media (max-width: 1050px){
  .footer{
    height: 60px;
    font-size: 15px;
  }
  .main{
    height: calc(100% - 165px);
  }
  .appWrapper{
    width: 100vw;
  }
}